@import "../../styles/common.scss";

.search {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 450px;
	z-index: 1000;
}

@include themify($themes) {
	.search {
		color: themed('text-color');
	}
}